{
  "env":{
    "browser": true
  },
  "rules":{
     // need to override our default settings only for this dir
     "eqeqeq": "warn",
     "strict": "off",
     "import/no-extraneous-dependencies": "off",
     "import/prefer-default-export": "off",
     "no-underscore-dangle": "off",
     "no-restricted-global": "off"
  }

}